.scrolldown_btn {
  width: 16px;
  height: 124px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
  opacity: 1;
  -webkit-animation: scroll 1.3s infinite;
          animation: scroll 1.3s infinite;
}
.scrolldown_btn img {
  display: block;
  position: absolute;
  transition: 0.5s;
}
.scrolldown_btn img:first-child {
  opacity: 0;
}

.mainvisual video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}

@-webkit-keyframes scroll {
  0% {
    top: 50%;
    opacity: 1;
  }
  50% {
    top: calc(50% + 15px);
    opacity: 0.3;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    top: 50%;
    opacity: 1;
  }
  50% {
    top: calc(50% + 15px);
    opacity: 0.3;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}
.main_con {
  width: 100%;
  background: url(../images/main_business_bg.jpg) right/106% no-repeat;
}
.main_con .main_con_wrap {
  width: 1300px;
  margin: 0 auto;
}
.main_con .main_con_wrap h1 {
  font-size: 54px;
  font-weight: 100;
  padding-top: 175px;
  margin-bottom: 50px;
}
.main_con .main_con_wrap .main_item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 142px;
}
.main_con .main_con_wrap .main_item li {
  position: relative;
  width: 24%;
  background: transparent;
  padding: 60px 30px;
  box-sizing: border-box;
  border-radius: 20px;
  transition: 0.3s;
}
.main_con .main_con_wrap .main_item li .main_icon img {
  position: absolute;
  top: 60px;
  left: 30px;
  transition: 0.3s;
}
.main_con .main_con_wrap .main_item li .main_icon img:last-child {
  opacity: 0;
}
.main_con .main_con_wrap .main_item li h2 {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: -2px;
  transition: 0.3s;
}
.main_con .main_con_wrap .main_item li p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  color: #939393;
  margin-bottom: 48px;
  transition: 0.3s;
}
.main_con .main_con_wrap .main_item li a {
  font-size: 15px;
  font-weight: 700;
  color: #000;
  text-transform: capitalize;
  transition: 0.3s;
}
.main_con .main_con_wrap .main_item li:hover a {
  color: #fff;
}

.main_brand_con {
  width: 100%;
  background-color: #f5f5f5;
  background-image: url(../images/main_brand_img_1.jpg);
  background-repeat: no-repeat;
  background-position: right;
  transition: 0.3s;
}
.main_brand_con .main_brand_con_wrap {
  width: 1300px;
  margin: 0 auto;
}
.main_brand_con .main_brand_con_wrap h1 {
  font-size: 54px;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: -0.5px;
  padding-top: 125px;
  margin-bottom: 50px;
}
.main_brand_con .main_brand_con_wrap .brand_item {
  padding-bottom: 120px;
}
.main_brand_con .main_brand_con_wrap .brand_item li {
  position: relative;
  left: -60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 58%;
  background: transparent;
  padding: 50px 60px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: 0.3s;
}
.main_brand_con .main_brand_con_wrap .brand_item li .brand_icon {
  position: relative;
  width: 100px;
}
.main_brand_con .main_brand_con_wrap .brand_item li .brand_icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.main_brand_con .main_brand_con_wrap .brand_item li .brand_icon img:last-child {
  opacity: 0;
}
.main_brand_con .main_brand_con_wrap .brand_item li .brand_desc h2 {
  margin-bottom: 12px;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: -2px;
  transition: 0.3s;
}
.main_brand_con .main_brand_con_wrap .brand_item li .brand_desc p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  color: #939393;
  transition: 0.3s;
}
.main_brand_con .main_brand_con_wrap .brand_item li .brand_arrow {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: 0.3s;
}
.main_brand_con .main_brand_con_wrap .brand_item li .brand_arrow i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.main_history_con {
  width: 100%;
  background: #fbfbfb;
}
.main_history_con .main_history_con_wrap {
  width: 1300px;
  margin: 0 auto;
}
.main_history_con .main_history_con_wrap .history_con_title {
  position: relative;
  display: flex;
  align-items: center;
}
.main_history_con .main_history_con_wrap .history_con_title h1 {
  font-size: 54px;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: -0.5px;
  padding-top: 170px;
  margin-bottom: 110px;
}
.main_history_con .main_history_con_wrap .history_con_title span {
  position: absolute;
  right: 0;
}
.main_history_con .main_history_con_wrap .history_con_title span a {
  display: block;
  padding: 25px 30px;
  background: #424242;
  color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.19);
}
.main_history_con .main_history_con_wrap .history_con_title span a i {
  margin-left: 30px;
  font-size: 11px;
  font-weight: bold;
}
.main_history_con .history_item {
  width: 100vw;
  margin: 0 calc((100vw - 1300px) / 2);
  display: flex;
}
.main_history_con .history_item .swiper {
  margin-left: 0 !important;
}
.main_history_con .history_item .swiper .swiper-wrapper .swiper-slide {
  width: 434px !important;
}
.main_history_con .history_item .swiper .swiper-wrapper .swiper-slide .item {
  width: 434px;
}
.main_history_con .history_item .swiper .swiper-wrapper .swiper-slide .item .history_item_top {
  position: relative;
  display: flex;
  align-items: center;
  height: 86px;
}
.main_history_con .history_item .swiper .swiper-wrapper .swiper-slide .item .history_item_top h2 {
  font-size: 30px;
  font-weight: 700;
  color: #424242;
}
.main_history_con .history_item .swiper .swiper-wrapper .swiper-slide .item .history_item_top .history_icon img {
  position: absolute;
  top: 0;
  left: 280px;
  z-index: 1;
}
.main_history_con .history_item .swiper .swiper-wrapper .swiper-slide .item .history_item_top .history_icon img:last-child {
  opacity: 0;
}
.main_history_con .history_item .swiper .swiper-wrapper .swiper-slide .item .history_item_top::after {
  content: "";
  position: absolute;
  top: 84px;
  width: 434px;
  height: 2px;
  background: #dedede;
}
.main_history_con .history_item .swiper .swiper-wrapper .swiper-slide .item .history_item_top::before {
  content: "";
  position: absolute;
  top: 79px;
  width: 12px;
  height: 12px;
  border: 2px solid #dedede;
  border-radius: 50%;
  background: #fff;
  box-sizing: border-box;
  z-index: 1;
}
.main_history_con .history_item .swiper .swiper-wrapper .swiper-slide .item .history_item_bottom {
  margin-top: 35px;
}
.main_history_con .history_item .swiper .swiper-wrapper .swiper-slide .item .history_item_bottom > li h3 {
  font-size: 18px;
  font-weight: 700;
  color: #6b6b6b;
  margin-top: 16px;
}
.main_history_con .history_item .swiper .swiper-wrapper .swiper-slide .item .history_item_bottom > li .history_lnb li {
  font-size: 18px;
  font-weight: 300;
  color: #6b6b6b;
  margin-top: 12px;
  letter-spacing: -1px;
}